
#hero:hover {
  position: relative;
  color:rgb(111, 111, 255);
}

#hero:hover::after {
  position: absolute;
  content: '';
  width: 80px;
  height:3px;
  left:2px;
  top:35px;
  right:0;
  background-color:rgb(25, 88, 222);
  transition: 0.5s;
}
 span
{
  color:blue;
}
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  color: blue;
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color:rgb(68, 47, 255);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: .5px;
}

